{
  "openapi": "3.1.0",
  "info": {
    "title": "Puppetry Developer API Beta",
    "description": "Live Puppetry Developer API beta for Puppetry Voice API access, hosted audio uploads, usage, and credit-backed text/audio-to-video jobs.",
    "version": "2026-05-11",
    "contact": {
      "name": "Puppetry Support",
      "url": "https://www.puppetry.com",
      "email": "support@puppetry.com"
    },
    "termsOfService": "https://www.puppetry.com/tos",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://www.puppetry.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "developerApiKey": []
    }
  ],
  "paths": {
    "/api/v1/voices/puppetry": {
      "get": {
        "operationId": "listPuppetryVoices",
        "x-openai-isConsequential": false,
        "summary": "List Puppetry voices",
        "description": "Returns the public Puppetry voice catalog available to Developer API keys with the voices:read scope. Each voice includes preview_url for fixed sample audio.",
        "tags": ["Voices"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public Puppetry voices",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tts/puppetry": {
      "post": {
        "operationId": "createPuppetrySpeech",
        "x-openai-isConsequential": true,
        "summary": "Generate speech with a Puppetry voice",
        "description": "Creates a hosted WAV audio file from text using a public Puppetry voice. Requires the tts:create scope.",
        "tags": ["Text to Speech"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsRequest"
              },
              "examples": {
                "speech": {
                  "summary": "Generate speech",
                  "value": {
                    "voice_id": "puppetry-af_bella",
                    "text": "Hello from Puppetry.",
                    "speed": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated audio",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Unknown Puppetry voice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "voiceNotFound": {
                    "value": {
                      "error": "voice_not_found",
                      "message": "Unknown Puppetry voice"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/api/v1/uploads/audio-url": {
      "post": {
        "operationId": "createHostedAudioUploadUrl",
        "x-openai-isConsequential": false,
        "summary": "Create a signed hosted audio upload URL",
        "description": "Creates a short-lived signed PUT URL for existing audio and a short-lived read URL for the uploaded asset. Send an Idempotency-Key header, or idempotencyKey/idempotency_key in the JSON body when custom headers are unavailable, so a lost response does not reserve duplicate hosted-upload quota. For audio-to-video workflows, send require_video_readiness=true to fail before reserving upload quota when video credits or active slots are blocked; active-slot blockers and retryable transient failures include Retry-After and X-Puppetry-Next-Poll-At so agents can pace the next reservation attempt. Idempotent replays of an existing pending upload still return a fresh signed URL. Requires the uploads:create scope.",
        "tags": ["Audio Uploads"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioUploadRequest"
              },
              "examples": {
                "audioUpload": {
                  "summary": "Create upload URL",
                  "value": {
                    "contentType": "audio/mpeg",
                    "contentLength": 1048576,
                    "idempotencyKey": "upload-demo-1",
                    "requireVideoReadiness": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed upload and read URLs",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioUploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Idempotency-Key replay is in progress or conflicts with existing upload metadata.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "idempotencyInProgress": {
                    "value": {
                      "error": "idempotency_key_in_progress",
                      "message": "An upload URL with this Idempotency-Key is already being created. Retry this request shortly.",
                      "retryable": true,
                      "retry_after_seconds": 5,
                      "retryAfter": 5,
                      "retryAfterSeconds": 5,
                      "next_poll_at": "2026-06-22T08:50:05.000Z",
                      "nextPollAt": "2026-06-22T08:50:05.000Z",
                      "details": {
                        "retryable": true,
                        "retry_after_seconds": 5,
                        "retryAfter": 5,
                        "retryAfterSeconds": 5,
                        "next_poll_at": "2026-06-22T08:50:05.000Z",
                        "nextPollAt": "2026-06-22T08:50:05.000Z"
                      }
                    }
                  },
                  "idempotencyKeyConflict": {
                    "value": {
                      "error": "idempotency_key_conflict",
                      "message": "Idempotency-Key was already used with different upload metadata",
                      "details": {
                        "retryable": false,
                        "retry_blocked_reason": "Idempotency-Key was already used with different upload metadata",
                        "retryBlockedReason": "Idempotency-Key was already used with different upload metadata",
                        "retry_block_code": "AUDIO_UPLOAD_IDEMPOTENCY_KEY_CONFLICT",
                        "retryBlockCode": "AUDIO_UPLOAD_IDEMPOTENCY_KEY_CONFLICT"
                      }
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Request body or audio file exceeds the upload limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "requestBodyTooLarge": {
                    "value": {
                      "error": "payload_too_large",
                      "message": "Request body must be 8192 bytes or fewer",
                      "details": {
                        "max_body_bytes": 8192,
                        "retryable": false,
                        "retry_blocked_reason": "Request body must be 8192 bytes or fewer",
                        "retryBlockedReason": "Request body must be 8192 bytes or fewer",
                        "retry_block_code": "AUDIO_UPLOAD_PAYLOAD_TOO_LARGE",
                        "retryBlockCode": "AUDIO_UPLOAD_PAYLOAD_TOO_LARGE"
                      }
                    }
                  },
                  "fileTooLarge": {
                    "value": {
                      "error": "file_too_large",
                      "message": "Audio uploads are limited to 50MB",
                      "details": {
                        "max_file_bytes": 52428800,
                        "retryable": false,
                        "retry_blocked_reason": "Audio uploads are limited to 50MB",
                        "retryBlockedReason": "Audio uploads are limited to 50MB",
                        "retry_block_code": "AUDIO_UPLOAD_FILE_TOO_LARGE",
                        "retryBlockCode": "AUDIO_UPLOAD_FILE_TOO_LARGE"
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type must be application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unsupportedMediaType": {
                    "value": {
                      "error": "unsupported_media_type",
                      "message": "Content-Type must be application/json",
                      "details": {
                        "retryable": false,
                        "retry_blocked_reason": "Content-Type must be application/json",
                        "retryBlockedReason": "Content-Type must be application/json",
                        "retry_block_code": "UNSUPPORTED_AUDIO_UPLOAD_MEDIA_TYPE",
                        "retryBlockCode": "UNSUPPORTED_AUDIO_UPLOAD_MEDIA_TYPE"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Video generation active slots are full, or the Developer API rate limit was exceeded.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "videoSlotsFull": {
                    "value": {
                      "error": "concurrent_job_limit_reached",
                      "message": "Developer API video generation is at its active job limit. Retry after the active job slot expires.",
                      "retryable": true,
                      "retry_after_seconds": 512,
                      "retryAfter": 512,
                      "retryAfterSeconds": 512,
                      "next_poll_at": "2026-06-22T08:50:30.000Z",
                      "nextPollAt": "2026-06-22T08:50:30.000Z",
                      "details": {
                        "retryable": true,
                        "code": "concurrent_job_limit_reached",
                        "reason": "concurrent_job_limit_reached",
                        "video_generation": {
                          "can_create": false,
                          "canCreate": false,
                          "reason": "concurrent_job_limit_reached",
                          "active_jobs": 2,
                          "activeJobs": 2,
                          "available_slots": 0,
                          "availableSlots": 0,
                          "retry_after_seconds": 512,
                          "retryAfter": 512,
                          "retryAfterSeconds": 512,
                          "next_poll_at": "2026-06-22T08:50:30.000Z",
                          "nextPollAt": "2026-06-22T08:50:30.000Z"
                        },
                        "videoGeneration": {
                          "can_create": false,
                          "canCreate": false,
                          "reason": "concurrent_job_limit_reached",
                          "active_jobs": 2,
                          "activeJobs": 2,
                          "available_slots": 0,
                          "availableSlots": 0,
                          "retry_after_seconds": 512,
                          "retryAfter": 512,
                          "retryAfterSeconds": 512,
                          "next_poll_at": "2026-06-22T08:50:30.000Z",
                          "nextPollAt": "2026-06-22T08:50:30.000Z"
                        }
                      }
                    }
                  },
                  "rateLimited": {
                    "value": {
                      "error": "rate_limited",
                      "message": "Developer API beta limit exceeded: 10 requests per minute.",
                      "retryable": true,
                      "retry_after_seconds": 30,
                      "retryAfter": 30,
                      "retryAfterSeconds": 30,
                      "next_poll_at": "2026-06-22T08:50:30.000Z",
                      "nextPollAt": "2026-06-22T08:50:30.000Z",
                      "details": {
                        "retryable": true,
                        "retry_after_seconds": 30,
                        "retryAfter": 30,
                        "retryAfterSeconds": 30,
                        "next_poll_at": "2026-06-22T08:50:30.000Z",
                        "nextPollAt": "2026-06-22T08:50:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/api/v1/usage": {
      "get": {
        "operationId": "getDeveloperApiUsage",
        "x-openai-isConsequential": false,
        "summary": "Get Developer API usage",
        "description": "Returns the authenticated workspace's current video credit balance plus monthly credit usage for credit-backed Developer API video jobs. Requires the videos:read scope. When video generation is blocked by active job slots or usage data is temporarily unavailable, the response includes Retry-After and X-Puppetry-Next-Poll-At so agents can pace the next create or usage attempt.",
        "tags": ["Usage"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current Developer API usage",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/api/v1/videos/text": {
      "post": {
        "operationId": "createVideoFromText",
        "x-openai-isConsequential": true,
        "summary": "Create a video from text",
        "description": "Queues a credit-backed text-to-video job using a hosted image URL and a Puppetry voice. Requires the videos:create scope. Accepted queued responses and non-terminal Idempotency-Key replays include Retry-After, X-Puppetry-Next-Poll-At, plus absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available so clients can pace, locate, trace, and reconcile the first status poll.",
        "tags": ["Videos"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextVideoRequest"
              },
              "examples": {
                "textVideo": {
                  "summary": "Create text video",
                  "value": {
                    "image_url": "https://example.com/portrait.png",
                    "text": "Hello from Puppetry.",
                    "voice_id": "puppetry-af_heart",
                    "language": "en",
                    "expressiveness": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Terminal video job returned from an Idempotency-Key replay without charging another credit. Includes absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available for the replayed job; retryable failed replays also include Retry-After and X-Puppetry-Next-Poll-At.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Credits-Required": {
                "$ref": "#/components/headers/VideoJobCreditsRequired"
              },
              "X-Puppetry-Credits-Remaining": {
                "$ref": "#/components/headers/VideoJobCreditsRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobReplayResponse"
                }
              }
            }
          },
          "202": {
            "description": "Video job queued, or a non-terminal Idempotency-Key replay returned without charging another credit. Includes Retry-After, X-Puppetry-Next-Poll-At, plus absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available so clients can pace, locate, trace, and reconcile the first status poll.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Credits-Required": {
                "$ref": "#/components/headers/VideoJobCreditsRequired"
              },
              "X-Puppetry-Credits-Remaining": {
                "$ref": "#/components/headers/VideoJobCreditsRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Unknown Puppetry voice for text-to-video",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "voiceNotFound": {
                    "value": {
                      "error": "voice_not_found",
                      "message": "Unknown Puppetry voice. Use a voice_id from GET /api/v1/voices/puppetry.",
                      "details": {
                        "retryable": false,
                        "retry_blocked_reason": "Unknown Puppetry voice. Use a voice_id from GET /api/v1/voices/puppetry.",
                        "retryBlockedReason": "Unknown Puppetry voice. Use a voice_id from GET /api/v1/voices/puppetry.",
                        "retry_block_code": "PUPPETRY_VOICE_NOT_FOUND",
                        "retryBlockCode": "PUPPETRY_VOICE_NOT_FOUND"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "413": {
            "description": "Request body exceeds the video create limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "payloadTooLarge": {
                    "value": {
                      "error": "payload_too_large",
                      "message": "Request body must be 65536 bytes or fewer",
                      "details": {
                        "max_body_bytes": 65536,
                        "retryable": false,
                        "retry_blocked_reason": "Request body must be 65536 bytes or fewer",
                        "retryBlockedReason": "Request body must be 65536 bytes or fewer",
                        "retry_block_code": "VIDEO_CREATE_PAYLOAD_TOO_LARGE",
                        "retryBlockCode": "VIDEO_CREATE_PAYLOAD_TOO_LARGE"
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/api/v1/videos/audio": {
      "post": {
        "operationId": "createVideoFromAudio",
        "x-openai-isConsequential": true,
        "summary": "Create a video from audio",
        "description": "Queues a credit-backed audio-to-video job using hosted image and audio URLs. Requires the videos:create scope. Accepted queued responses and non-terminal Idempotency-Key replays include Retry-After, X-Puppetry-Next-Poll-At, plus absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available so clients can pace, locate, trace, and reconcile the first status poll.",
        "tags": ["Videos"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioVideoRequest"
              },
              "examples": {
                "audioVideo": {
                  "summary": "Create audio video",
                  "value": {
                    "image_url": "https://example.com/portrait.png",
                    "audio_url": "https://assets.puppetry.com/api-uploads/audio.mp3",
                    "expressiveness": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Terminal video job returned from an Idempotency-Key replay without charging another credit. Includes absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available for the replayed job; retryable failed replays also include Retry-After and X-Puppetry-Next-Poll-At.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Credits-Required": {
                "$ref": "#/components/headers/VideoJobCreditsRequired"
              },
              "X-Puppetry-Credits-Remaining": {
                "$ref": "#/components/headers/VideoJobCreditsRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobReplayResponse"
                }
              }
            }
          },
          "202": {
            "description": "Video job queued, or a non-terminal Idempotency-Key replay returned without charging another credit. Includes Retry-After, X-Puppetry-Next-Poll-At, plus absolute Location/Content-Location, Puppetry-Operation-Id, Puppetry-Request-Id, and X-Puppetry-Credits-* headers when debit metadata is available so clients can pace, locate, trace, and reconcile the first status poll.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Credits-Required": {
                "$ref": "#/components/headers/VideoJobCreditsRequired"
              },
              "X-Puppetry-Credits-Remaining": {
                "$ref": "#/components/headers/VideoJobCreditsRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobQueuedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "413": {
            "description": "Request body exceeds the video create limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "payloadTooLarge": {
                    "value": {
                      "error": "payload_too_large",
                      "message": "Request body must be 65536 bytes or fewer",
                      "details": {
                        "max_body_bytes": 65536,
                        "retryable": false,
                        "retry_blocked_reason": "Request body must be 65536 bytes or fewer",
                        "retryBlockedReason": "Request body must be 65536 bytes or fewer",
                        "retry_block_code": "VIDEO_CREATE_PAYLOAD_TOO_LARGE",
                        "retryBlockCode": "VIDEO_CREATE_PAYLOAD_TOO_LARGE"
                      }
                    }
                  }
                }
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamFailure"
          },
          "503": {
            "$ref": "#/components/responses/TemporarilyUnavailable"
          }
        }
      }
    },
    "/api/v1/videos/{jobId}": {
      "get": {
        "operationId": "getVideoJob",
        "x-openai-isConsequential": false,
        "summary": "Get video job status",
        "description": "Polls a Developer API video job created by the same API key. Requires the videos:read scope. Jobs created with another key, user, or org return 404. Status responses include absolute Location, Content-Location, Puppetry-Operation-Id, and Puppetry-Request-Id headers with the same poll target; queued or processing 200 responses also include Retry-After and X-Puppetry-Next-Poll-At so clients can pace polling.",
        "tags": ["Videos"],
        "security": [
          {
            "developerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^api_video_[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video job status",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              },
              "X-Puppetry-Next-Poll-At": {
                "$ref": "#/components/headers/NextPollAt"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Credits-Required": {
                "$ref": "#/components/headers/VideoJobCreditsRequired"
              },
              "X-Puppetry-Credits-Remaining": {
                "$ref": "#/components/headers/VideoJobCreditsRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Video job not found, or not visible to the authenticated API key",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimitReset"
              },
              "Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Content-Location": {
                "$ref": "#/components/headers/VideoJobStatusLocation"
              },
              "Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "X-Puppetry-Operation-Id": {
                "$ref": "#/components/headers/VideoJobOperationId"
              },
              "Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              },
              "X-Puppetry-Request-Id": {
                "$ref": "#/components/headers/VideoJobRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "error": "job_not_found",
                      "message": "Video job not found",
                      "retryable": false,
                      "id": "api_video_missing_20260702",
                      "job_id": "api_video_missing_20260702",
                      "jobId": "api_video_missing_20260702",
                      "task_id": "api_video_missing_20260702",
                      "taskId": "api_video_missing_20260702",
                      "operation_id": "api_video_missing_20260702",
                      "operationId": "api_video_missing_20260702",
                      "request_id": "api_video_missing_20260702",
                      "requestId": "api_video_missing_20260702",
                      "status_url": "/api/v1/videos/api_video_missing_20260702",
                      "statusUrl": "/api/v1/videos/api_video_missing_20260702",
                      "retry_blocked_reason": "Video job not found or not visible to this API key",
                      "retryBlockedReason": "Video job not found or not visible to this API key",
                      "retry_block_code": "VIDEO_JOB_NOT_FOUND",
                      "retryBlockCode": "VIDEO_JOB_NOT_FOUND",
                      "details": {
                        "retryable": false,
                        "id": "api_video_missing_20260702",
                        "job_id": "api_video_missing_20260702",
                        "jobId": "api_video_missing_20260702",
                        "task_id": "api_video_missing_20260702",
                        "taskId": "api_video_missing_20260702",
                        "operation_id": "api_video_missing_20260702",
                        "operationId": "api_video_missing_20260702",
                        "request_id": "api_video_missing_20260702",
                        "requestId": "api_video_missing_20260702",
                        "status_url": "/api/v1/videos/api_video_missing_20260702",
                        "statusUrl": "/api/v1/videos/api_video_missing_20260702",
                        "retry_blocked_reason": "Video job not found or not visible to this API key",
                        "retryBlockedReason": "Video job not found or not visible to this API key",
                        "retry_block_code": "VIDEO_JOB_NOT_FOUND",
                        "retryBlockCode": "VIDEO_JOB_NOT_FOUND",
                        "content_location": "/api/v1/videos/api_video_missing_20260702",
                        "contentLocation": "/api/v1/videos/api_video_missing_20260702"
                      },
                      "content_location": "/api/v1/videos/api_video_missing_20260702",
                      "contentLocation": "/api/v1/videos/api_video_missing_20260702"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/VideoJobStatusUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/VideoJobStatusTimeout"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "developerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Puppetry API key",
        "description": "Use the Authorization header with a live Puppetry API key: Bearer pk_live_..."
      }
    },
    "headers": {
      "RateLimitLimit": {
        "description": "Requests allowed in the current one-minute window.",
        "schema": {
          "type": "integer",
          "example": 10
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the current one-minute window.",
        "schema": {
          "type": "integer",
          "example": 9
        }
      },
      "RateLimitReset": {
        "description": "Unix timestamp, in seconds, when the current rate-limit window resets.",
        "schema": {
          "type": "integer",
          "example": 1778520000
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying a limited/transient request or polling a non-terminal video job again.",
        "schema": {
          "type": "integer",
          "example": 30
        }
      },
      "NextPollAt": {
        "description": "Absolute UTC retry or poll time. Mirrors next_poll_at/nextPollAt in the JSON body.",
        "schema": {
          "type": "string",
          "format": "date-time",
          "example": "2026-06-22T08:50:30.000Z"
        }
      },
      "VideoJobStatusLocation": {
        "description": "Absolute status URL for the API video job in response headers. Mirrors the status_url/content_location JSON body fields as a fully qualified poll URL.",
        "schema": {
          "type": "string",
          "example": "https://www.puppetry.com/api/v1/videos/api_video_8b1d2f4c6a7e9f0123456789"
        }
      },
      "VideoJobOperationId": {
        "description": "Stable public operation id for the Developer API video job. Mirrors the JSON id/operation_id field and never exposes the internal animation service job id.",
        "schema": {
          "type": "string",
          "pattern": "^api_video_",
          "example": "api_video_8b1d2f4c6a7e9f0123456789"
        }
      },
      "VideoJobRequestId": {
        "description": "Stable public request id for correlating a Developer API video job with backend logs. Mirrors the JSON request_id field and never exposes the internal animation service job id.",
        "schema": {
          "type": "string",
          "pattern": "^api_video_",
          "example": "api_video_8b1d2f4c6a7e9f0123456789"
        }
      },
      "VideoJobCreditsRequired": {
        "description": "Video credits charged or required for the Developer API video create operation. Fresh create responses and status responses include this when create-time debit evidence is available.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "example": 1
        }
      },
      "VideoJobCreditsRemaining": {
        "description": "Video credit balance after the Developer API video create debit. Fresh create responses and status responses include this when create-time debit evidence is available.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "example": 299
        }
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Optional non-blank retry key for video create and hosted audio upload URL requests. Keys are scoped to the authenticated user, org, API key, endpoint, trimmed Idempotency-Key value, and normalized request payload. Replaying the same accepted video create request returns without charging another credit; replaying the same pending hosted audio upload returns a fresh signed PUT URL without reserving duplicate quota. Reusing the key for different input returns 409.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 200,
          "example": "text-video-demo-1"
        }
      }
    },
    "responses": {
      "InvalidRequest": {
        "description": "Invalid request body or unsupported input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "hostedAudioUploadUnavailable": {
                "value": {
                  "error": "hosted_audio_upload_unavailable",
                  "message": "Hosted audio upload ownership is temporarily unavailable",
                  "details": {
                    "retry_after_seconds": 217,
                    "retryAfter": 217,
                    "retryAfterSeconds": 217
                  }
                }
              },
              "hostedAudioUploadNotFound": {
                "value": {
                  "error": "invalid_request",
                  "message": "audio_url must reference a hosted API audio upload owned by this API key",
                  "details": {
                    "retryable": false,
                    "retry_blocked_reason": "audio_url must reference a hosted API audio upload owned by this API key",
                    "retryBlockedReason": "audio_url must reference a hosted API audio upload owned by this API key",
                    "retry_block_code": "HOSTED_AUDIO_UPLOAD_NOT_FOUND",
                    "retryBlockCode": "HOSTED_AUDIO_UPLOAD_NOT_FOUND"
                  }
                }
              },
              "hostedAudioUploadPending": {
                "value": {
                  "error": "invalid_request",
                  "message": "audio_url hosted upload has not finished uploading; upload the file before creating a video",
                  "details": {
                    "retryable": false,
                    "retry_blocked_reason": "audio_url hosted upload has not finished uploading; upload the file before creating a video",
                    "retryBlockedReason": "audio_url hosted upload has not finished uploading; upload the file before creating a video",
                    "retry_block_code": "HOSTED_AUDIO_UPLOAD_PENDING",
                    "retryBlockCode": "HOSTED_AUDIO_UPLOAD_PENDING"
                  }
                }
              },
              "invalidImage": {
                "value": {
                  "error": "invalid_image",
                  "message": "image_url must be a supported image",
                  "details": {
                    "retryable": false,
                    "retry_blocked_reason": "image_url must be a supported image",
                    "retryBlockedReason": "image_url must be a supported image",
                    "retry_block_code": "INVALID_VIDEO_IMAGE",
                    "retryBlockCode": "INVALID_VIDEO_IMAGE"
                  }
                }
              },
              "audioTooLong": {
                "value": {
                  "error": "audio_too_long",
                  "message": "Audio is too long (529s). Maximum supported duration is 300 seconds (5 minutes). Please use a shorter script or split into multiple videos.",
                  "details": {
                    "duration_seconds": 529.42,
                    "max_duration_seconds": 300,
                    "retryable": false,
                    "retry_blocked_reason": "Audio is too long (529s). Maximum supported duration is 300 seconds (5 minutes). Please use a shorter script or split into multiple videos.",
                    "retryBlockedReason": "Audio is too long (529s). Maximum supported duration is 300 seconds (5 minutes). Please use a shorter script or split into multiple videos.",
                    "retry_block_code": "VIDEO_CREATE_AUDIO_TOO_LONG",
                    "retryBlockCode": "VIDEO_CREATE_AUDIO_TOO_LONG"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed, invalid, or revoked API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "value": {
                  "error": "unauthorized",
                  "message": "Missing or invalid Authorization header. Use: Bearer pk_live_..."
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key does not include the required endpoint scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "forbidden": {
                "value": {
                  "error": "forbidden",
                  "message": "This API key does not have the required scope"
                }
              }
            }
          }
        }
      },
      "UnsupportedMediaType": {
        "description": "The request body media type is not supported.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedMediaType": {
                "value": {
                  "error": "unsupported_media_type",
                  "message": "Content-Type must be application/json"
                }
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit or monthly beta quota exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "error": "rate_limited",
                  "message": "Developer API beta limit exceeded: 10 requests per minute.",
                  "retryable": true,
                  "retry_after_seconds": 30,
                  "retryAfter": 30,
                  "retryAfterSeconds": 30,
                  "next_poll_at": "2026-06-22T08:50:30.000Z",
                  "nextPollAt": "2026-06-22T08:50:30.000Z",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 30,
                    "retryAfter": 30,
                    "retryAfterSeconds": 30,
                    "next_poll_at": "2026-06-22T08:50:30.000Z",
                    "nextPollAt": "2026-06-22T08:50:30.000Z"
                  }
                }
              },
              "voiceCharacterLimit": {
                "value": {
                  "error": "voice_character_limit_exceeded",
                  "message": "Monthly Puppetry Voice character limit exceeded",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 86400,
                    "retryAfter": 86400,
                    "retryAfterSeconds": 86400
                  }
                }
              },
              "concurrentVideoJobLimit": {
                "value": {
                  "error": "concurrent_job_limit_exceeded",
                  "message": "Developer API concurrent job limit exceeded",
                  "details": {
                    "retryable": true,
                    "concurrent_jobs": 2,
                    "concurrentJobs": 2,
                    "active_jobs": 2,
                    "activeJobs": 2,
                    "available_slots": 0,
                    "availableSlots": 0,
                    "active_job_expires_in_seconds": 512,
                    "activeJobExpiresInSeconds": 512,
                    "retry_after_seconds": 512,
                    "retryAfter": 512,
                    "retryAfterSeconds": 512
                  }
                }
              }
            }
          }
        }
      },
      "UpstreamFailure": {
        "description": "Puppetry could not create or inspect the requested asset.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "videoQueueFailed": {
                "value": {
                  "error": "video_queue_failed",
                  "message": "Animation service did not return a video job id",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 30,
                    "retryAfter": 30,
                    "retryAfterSeconds": 30,
                    "next_poll_at": "2026-06-22T08:50:30.000Z",
                    "nextPollAt": "2026-06-22T08:50:30.000Z"
                  }
                }
              },
              "creditDebitUnavailable": {
                "value": {
                  "error": "credit_debit_unavailable",
                  "message": "Video credit debit is temporarily unavailable",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 30,
                    "retryAfter": 30,
                    "retryAfterSeconds": 30,
                    "next_poll_at": "2026-06-22T08:50:30.000Z",
                    "nextPollAt": "2026-06-22T08:50:30.000Z"
                  }
                }
              },
              "assetProbeUnavailable": {
                "value": {
                  "error": "asset_probe_unavailable",
                  "message": "audio_url is temporarily unavailable for inspection",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 30,
                    "retryAfter": 30,
                    "retryAfterSeconds": 30
                  }
                }
              },
              "jobStatusUnavailable": {
                "value": {
                  "error": "job_status_unavailable",
                  "message": "Video job status is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              },
              "jobResultUnavailable": {
                "value": {
                  "error": "job_result_unavailable",
                  "message": "Video job result is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              },
              "jobFinalizationUnavailable": {
                "value": {
                  "error": "job_finalization_unavailable",
                  "message": "Video job finalization is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              }
            }
          }
        }
      },
      "StatusTimeout": {
        "description": "Puppetry timed out while checking an accepted video job.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "statusTimeout": {
                "value": {
                  "error": "job_status_timeout",
                  "message": "Video job status lookup timed out",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              }
            }
          }
        }
      },
      "TemporarilyUnavailable": {
        "description": "A beta quota, usage lookup, or job counter is temporarily unavailable.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "apiAuthUnavailable": {
                "value": {
                  "error": "api_auth_unavailable",
                  "message": "Developer API authentication is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 30,
                  "retryAfter": 30,
                  "retryAfterSeconds": 30,
                  "next_poll_at": "2026-06-22T08:50:30.000Z",
                  "nextPollAt": "2026-06-22T08:50:30.000Z",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 30,
                    "retryAfter": 30,
                    "retryAfterSeconds": 30,
                    "next_poll_at": "2026-06-22T08:50:30.000Z",
                    "nextPollAt": "2026-06-22T08:50:30.000Z"
                  }
                }
              }
            }
          }
        }
      },
      "InsufficientCredits": {
        "description": "The account does not have enough video credits to create the job.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "insufficientCredits": {
                "value": {
                  "error": "insufficient_credits",
                  "message": "Not enough video credits to create a video job",
                  "details": {
                    "code": "insufficient_video_credits",
                    "reason": "insufficient_video_credits",
                    "required_credits": 1,
                    "requiredCredits": 1,
                    "remaining_credits": 0,
                    "remainingCredits": 0,
                    "retryable": false,
                    "retry_blocked_reason": "Developer API video generation needs 1 credit, but only 0 remain.",
                    "retryBlockedReason": "Developer API video generation needs 1 credit, but only 0 remain.",
                    "retry_block_code": "INSUFFICIENT_VIDEO_CREDITS",
                    "retryBlockCode": "INSUFFICIENT_VIDEO_CREDITS",
                    "checkout_url": "https://www.puppetry.com/pricing#pricing-credit-packs",
                    "checkoutUrl": "https://www.puppetry.com/pricing#pricing-credit-packs",
                    "top_up": "Buy 5 video credits for $4.99 at https://www.puppetry.com/pricing#pricing-credit-packs",
                    "topUp": "Buy 5 video credits for $4.99 at https://www.puppetry.com/pricing#pricing-credit-packs",
                    "video_generation": {
                      "can_create": false,
                      "canCreate": false,
                      "required_credits": 1,
                      "requiredCredits": 1,
                      "credits_remaining": 0,
                      "creditsRemaining": 0,
                      "concurrent_jobs": 2,
                      "concurrentJobs": 2,
                      "active_jobs": 0,
                      "activeJobs": 0,
                      "available_slots": 2,
                      "availableSlots": 2,
                      "reason": "insufficient_video_credits"
                    },
                    "videoGeneration": {
                      "can_create": false,
                      "canCreate": false,
                      "required_credits": 1,
                      "requiredCredits": 1,
                      "credits_remaining": 0,
                      "creditsRemaining": 0,
                      "concurrent_jobs": 2,
                      "concurrentJobs": 2,
                      "active_jobs": 0,
                      "activeJobs": 0,
                      "available_slots": 2,
                      "availableSlots": 2,
                      "reason": "insufficient_video_credits"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IdempotencyConflict": {
        "description": "The Idempotency-Key is already creating a video job or hosted upload URL, or it was reused with different input. Video create conflicts include Location/Content-Location, Puppetry-Operation-Id, and Puppetry-Request-Id headers for the existing API video job when one is known.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          },
          "Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Content-Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "X-Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          },
          "X-Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "idempotencyInProgress": {
                "value": {
                  "error": "idempotency_key_in_progress",
                  "message": "A video job or upload URL with this Idempotency-Key is already being created. Retry this request shortly.",
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 5,
                    "retryAfter": 5,
                    "retryAfterSeconds": 5,
                    "next_poll_at": "2026-06-22T08:50:05.000Z",
                    "nextPollAt": "2026-06-22T08:50:05.000Z"
                  }
                }
              },
              "idempotencyKeyConflict": {
                "value": {
                  "error": "idempotency_key_conflict",
                  "message": "Idempotency-Key was already used with a different video create request",
                  "object": "video_job",
                  "id": "api_video_existing",
                  "job_id": "api_video_existing",
                  "jobId": "api_video_existing",
                  "operation_id": "api_video_existing",
                  "operationId": "api_video_existing",
                  "request_id": "api_video_existing",
                  "requestId": "api_video_existing",
                  "source": "text",
                  "request_source": "text",
                  "requestSource": "text",
                  "status_url": "/api/v1/videos/api_video_existing",
                  "statusUrl": "/api/v1/videos/api_video_existing",
                  "content_location": "/api/v1/videos/api_video_existing",
                  "contentLocation": "/api/v1/videos/api_video_existing",
                  "details": {
                    "retryable": false,
                    "retry_blocked_reason": "Idempotency-Key was already used with a different video create request",
                    "retryBlockedReason": "Idempotency-Key was already used with a different video create request",
                    "retry_block_code": "IDEMPOTENCY_KEY_CONFLICT",
                    "retryBlockCode": "IDEMPOTENCY_KEY_CONFLICT",
                    "object": "video_job",
                    "id": "api_video_existing",
                    "status_url": "/api/v1/videos/api_video_existing",
                    "statusUrl": "/api/v1/videos/api_video_existing",
                    "content_location": "/api/v1/videos/api_video_existing",
                    "contentLocation": "/api/v1/videos/api_video_existing"
                  }
                }
              }
            }
          }
        }
      },
      "VideoJobStatusUnavailable": {
        "description": "Puppetry could not inspect an accepted video job. Retry-After, X-Puppetry-Next-Poll-At, Location, Content-Location, Puppetry-Operation-Id, and Puppetry-Request-Id identify and pace the same status poll target.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          },
          "Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Content-Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "X-Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          },
          "X-Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          },
          "X-Puppetry-Credits-Required": {
            "$ref": "#/components/headers/VideoJobCreditsRequired"
          },
          "X-Puppetry-Credits-Remaining": {
            "$ref": "#/components/headers/VideoJobCreditsRemaining"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "jobStatusUnavailable": {
                "value": {
                  "error": "job_status_unavailable",
                  "message": "Video job status is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              },
              "jobResultUnavailable": {
                "value": {
                  "error": "job_result_unavailable",
                  "message": "Video job result is temporarily unavailable",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              }
            }
          }
        }
      },
      "VideoJobStatusTimeout": {
        "description": "Puppetry timed out while checking an accepted video job. Retry-After, X-Puppetry-Next-Poll-At, Location, Content-Location, Puppetry-Operation-Id, and Puppetry-Request-Id identify and pace the same status poll target.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          },
          "X-Puppetry-Next-Poll-At": {
            "$ref": "#/components/headers/NextPollAt"
          },
          "Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Content-Location": {
            "$ref": "#/components/headers/VideoJobStatusLocation"
          },
          "Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "X-Puppetry-Operation-Id": {
            "$ref": "#/components/headers/VideoJobOperationId"
          },
          "Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          },
          "X-Puppetry-Request-Id": {
            "$ref": "#/components/headers/VideoJobRequestId"
          },
          "X-Puppetry-Credits-Required": {
            "$ref": "#/components/headers/VideoJobCreditsRequired"
          },
          "X-Puppetry-Credits-Remaining": {
            "$ref": "#/components/headers/VideoJobCreditsRemaining"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "statusTimeout": {
                "value": {
                  "error": "job_status_timeout",
                  "message": "Video job status lookup timed out",
                  "retryable": true,
                  "retry_after_seconds": 10,
                  "retryAfter": 10,
                  "retryAfterSeconds": 10,
                  "next_poll_at": "2026-06-22T08:50:10.000Z",
                  "nextPollAt": "2026-06-22T08:50:10.000Z",
                  "credits": {
                    "charged": 0,
                    "remaining": null
                  },
                  "creation_credits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "creationCredits": {
                    "charged": 1,
                    "remaining_after_debit": 299,
                    "remainingAfterDebit": 299
                  },
                  "details": {
                    "retryable": true,
                    "retry_after_seconds": 10,
                    "retryAfter": 10,
                    "retryAfterSeconds": 10,
                    "next_poll_at": "2026-06-22T08:50:10.000Z",
                    "nextPollAt": "2026-06-22T08:50:10.000Z",
                    "object": "video_job",
                    "id": "api_video_abc123",
                    "job_id": "api_video_abc123",
                    "jobId": "api_video_abc123",
                    "task_id": "api_video_abc123",
                    "taskId": "api_video_abc123",
                    "status_url": "/api/v1/videos/api_video_abc123",
                    "statusUrl": "/api/v1/videos/api_video_abc123",
                    "credits": {
                      "charged": 0,
                      "remaining": null
                    },
                    "creation_credits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "creationCredits": {
                      "charged": 1,
                      "remaining_after_debit": 299,
                      "remainingAfterDebit": 299
                    },
                    "created_at": "2026-06-22T08:50:00.000Z",
                    "createdAt": "2026-06-22T08:50:00.000Z",
                    "content_location": "/api/v1/videos/api_video_abc123",
                    "contentLocation": "/api/v1/videos/api_video_abc123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "examples": ["invalid_request", "unauthorized", "rate_limited"]
          },
          "message": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "video_job",
            "description": "Present on retryable transient video-status errors when the affected API video job is known."
          },
          "id": {
            "type": "string",
            "description": "Present on retryable transient video-status errors. API video job ID to keep polling."
          },
          "credits": {
            "type": "object",
            "description": "Present on retryable transient video-status errors for accepted API video jobs. Status polls are never billed, so charged is 0.",
            "properties": {
              "charged": {
                "type": "integer",
                "minimum": 0,
                "example": 0
              },
              "remaining": {
                "type": ["integer", "null"],
                "minimum": 0,
                "description": "Current balance if available; null when the status poll did not fetch credit state."
              }
            },
            "additionalProperties": false
          },
          "creation_credits": {
            "$ref": "#/components/schemas/VideoJobCreationCredits",
            "description": "Original create-time video credit debit evidence for the affected API video job when available."
          },
          "creationCredits": {
            "$ref": "#/components/schemas/VideoJobCreationCredits",
            "description": "SDK-style alias for creation_credits."
          },
          "retryable": {
            "type": "boolean",
            "description": "Present on retryable transient errors and non-retryable terminal video-create/status errors so generated clients can identify retry/backoff behavior without parsing details."
          },
          "retry_blocked_reason": {
            "type": "string",
            "description": "Present on non-retryable terminal video-create/status errors. Redacted reason explaining why clients should not retry the same request."
          },
          "retryBlockedReason": {
            "type": "string",
            "description": "SDK-style alias for retry_blocked_reason."
          },
          "retry_block_code": {
            "type": "string",
            "description": "Present on non-retryable terminal video-create/status errors. Stable retry-block code suitable for generated clients."
          },
          "retryBlockCode": {
            "type": "string",
            "description": "SDK-style alias for retry_block_code."
          },
          "retry_after_seconds": {
            "type": "integer",
            "minimum": 0,
            "description": "Present on retryable transient errors. Mirrors Retry-After and details.retry_after_seconds."
          },
          "retryAfter": {
            "type": "integer",
            "minimum": 0,
            "description": "SDK-style alias for retry_after_seconds."
          },
          "retryAfterSeconds": {
            "type": "integer",
            "minimum": 0,
            "description": "CamelCase alias for retry_after_seconds."
          },
          "next_poll_at": {
            "type": "string",
            "format": "date-time",
            "description": "Present on retryable transient errors. Absolute UTC time when clients should retry the request or poll again."
          },
          "nextPollAt": {
            "type": "string",
            "format": "date-time",
            "description": "SDK-style alias for next_poll_at."
          },
          "job_id": {
            "type": "string",
            "description": "Present on retryable transient video-status errors so clients can correlate the retry to the API video job."
          },
          "jobId": {
            "type": "string",
            "description": "SDK-style alias for job_id."
          },
          "task_id": {
            "type": "string",
            "description": "Task-style alias for job_id on retryable transient video-status errors."
          },
          "taskId": {
            "type": "string",
            "description": "CamelCase task-style alias for job_id."
          },
          "source": {
            "type": "string",
            "enum": ["text", "audio"],
            "description": "Video creation source for the affected API video job."
          },
          "request_source": {
            "type": "string",
            "enum": ["text", "audio"],
            "description": "Alias for source."
          },
          "requestSource": {
            "type": "string",
            "enum": ["text", "audio"],
            "description": "SDK-style alias for source."
          },
          "status_url": {
            "type": "string",
            "description": "Present on retryable transient video-status errors so clients know which job resource to poll next."
          },
          "statusUrl": {
            "type": "string",
            "description": "SDK-style alias for status_url."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time for the affected API video job."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "SDK-style alias for created_at."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the affected API video job record expires from status lookup."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "SDK-style alias for expires_at."
          },
          "details": {
            "description": "Endpoint-specific diagnostic fields.",
            "type": "object",
            "additionalProperties": true
          },
          "content_location": {
            "type": "string",
            "description": "Body alias for the status poll URL, mirroring the Content-Location response header target for clients that cannot reliably read headers."
          },
          "contentLocation": {
            "type": "string",
            "description": "SDK-style alias for content_location."
          }
        },
        "additionalProperties": true
      },
      "PuppetryVoice": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "provider",
          "language",
          "language_code",
          "gender",
          "description",
          "styles",
          "preview_url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Public Puppetry voice ID.",
            "example": "puppetry-af_bella"
          },
          "object": {
            "type": "string",
            "const": "voice"
          },
          "name": {
            "type": "string",
            "example": "Bella"
          },
          "provider": {
            "type": "string",
            "const": "puppetry"
          },
          "language": {
            "type": "string",
            "example": "English"
          },
          "language_code": {
            "type": "string",
            "example": "en"
          },
          "gender": {
            "type": "string",
            "example": "Female"
          },
          "description": {
            "type": "string",
            "example": "Puppetry voice (English)"
          },
          "styles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "preview_url": {
            "type": "string",
            "format": "uri-reference",
            "description": "Fixed audio preview path for this Puppetry voice.",
            "example": "/api/voices/puppetry-preview?voice=af_bella&language=en"
          }
        },
        "additionalProperties": false
      },
      "VoiceListResponse": {
        "type": "object",
        "required": ["object", "data"],
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PuppetryVoice"
            }
          }
        },
        "additionalProperties": false
      },
      "TtsRequest": {
        "type": "object",
        "required": ["voice_id", "text"],
        "properties": {
          "voice_id": {
            "type": "string",
            "description": "Public voice ID from GET /api/v1/voices/puppetry.",
            "example": "puppetry-af_bella"
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "Text to synthesize.",
            "example": "Hello from Puppetry."
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1,
            "description": "Speech speed multiplier."
          }
        },
        "additionalProperties": false
      },
      "TtsResponse": {
        "type": "object",
        "required": [
          "object",
          "id",
          "voice_id",
          "audio_url",
          "format",
          "usage"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "audio"
          },
          "id": {
            "type": "string",
            "description": "Generated audio asset ID."
          },
          "voice_id": {
            "type": "string",
            "example": "puppetry-af_bella"
          },
          "audio_url": {
[...]
